*{
margin: 0;
padding: 0;
}
body{
    background-color: antiquewhite;
    font-family: "Roboto", sans-serif;
}   
.container{
    background-color:#E4F9F5;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
.profile-images{
    width: 100px;
    height: 120px;
    border:3px solid white;
    border-radius:50% ;
    float: left;
}
.header-bio{
    float: left;
    padding: 30px;
}
h1,h2,h3,h4,h5,h6{
    color:#11999e ;
}
.header-contact{
    float: right;
    padding: 30px;
}
.header-contact a{
    text-decoration: none;
    color: teal;
    font-weight:bold ;
}
.header-contact a:hover{
    text-decoration: underline;
    color: tomato;

}
.clear-div{
    clear: both;
}
hr{
    border:solid black 3px ;
    width: 100%;
    margin: 20px auto;
    border-bottom: none;
}
/*-------------------
Personal section start
----------------------*/
#personal-scection{

}
.content{
margin-bottom: 30px;
}
.left-div{
   width:30%;
   float: left;
}
.right-div{
width: 70%;
float: left;
}
.common-hr{
    border:solid black 1px;
    border-bottom: none;
    width:100%;
    margin: 20px auto;
/*-------------------
footer section start
----------------------*/
}  
.footer-container{

   background-color:lightseagreen;
   text-align: center;
   padding: 10px;
}
.footer-container a{
    color:white;
    text-decoration: none;
    font-family:'Times New Roman', Times, serif;
    margin: 20px;

}
.footer-container a:hover{
    color:tomato;
    text-decoration:underline;
   
}
.footer-container p{
    color:white;
    margin-top: 20px;

}